NODE_ENV="development"
CSS_PATH="/assets/css/"
JS_PATH="/assets/js/"
FONTS_PATH="/assets/fonts/"
SCREEN_MAX_WIDTH=2000
SCREEN_MAX_HEIGHT=1080
COPYRIGHT_YEAR=2020
SITE_URL=https://example.com
THEME_URL=https://example.com/wp-content/themes/postwp/