NODE_ENV="development"
CSS_PATH="/assets/css/"
JS_PATH="/assets/js/"
FONTS_PATH="/assets/fonts/"
SCREEN_MAX_WIDTH=2000
SCREEN_MAX_HEIGHT=1080
COPYRIGHT_YEAR=2000
SITE_URL=https://example.com
THEME_URL=https://example.com/wp-content/themes/postwp/
GOOGLE_MAPS_KEY="key"
GOOGLE_MAPS_ID="map"
GOOGLE_MAPS_LAT=27.9881564
GOOGLE_MAPS_LNG=86.9253667
GOOGLE_MAPS_ZOOM=15